<header class="main-header">
    <nav class="main-header__nav">
        <ul class="nav-list">
            <li class="nav-list__item"><a class="<%= page === 'shop' ? 'active' : '' %>" href="/">Shop</a></li>
            <li class="nav-list__item"><a class="<%= page === 'products' ? 'active' : '' %>" href="/admin/add-product">Add Products</a></li>
        </ul>
    </nav>
</header>