<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Page not found</title>
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <header>
        <ul>
            <li><a href="/">Shop</a></li>
            <li><a href="/admin/add-product">Admin</a></li>
        </ul>
    </header>
    <h1>Page not found. Make sure that you visit the office link to the website.</h1>
</body>

</html>