<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <h1 class="page-not-found">Sorry... the page you are looking for doesn't exist.</h1>
    
<%- include('includes/end.ejs') %>